.header {
    display: flex;
    justify-content: center;
}

.container {
    background-color: blue;
}

.wrapper {
    margin-top: -25px;
    width: 46rem;
    display: flex;
    justify-content: space-between;
}

.wrapper input[type='text'] {
    border: 0;
    width: 100%;
    margin-right: 8px;
    padding: 1rem;
    background-color: var(--gray-500);
    border-radius: 8px;
    color: var(--white);
}

.wrapper button[type='submit'] {
    border: 0;
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--blueDark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--white);

    transition: background-color 0.5s;
}

.wrapper button[type='submit']:hover {
    background-color: var(--blue);
}

.wrapper button[type='submit'] span {
    margin-right: 0.5rem;
}